<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" >

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Music App</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "Browse Songs", songs_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'New Song', new_song_path %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path%></li>
            <li><%= link_to "Log in", new_user_session_path%></li>
          <% end %>
        </ul>

        <ul class="left">
          <li class="has-form">
            <div class="row collapse">
              <%= search_form_for @search, class: "row collapse" do |f| %>
                <div class="large-8 small-9 columns">
                  <%= f.text_field :artist_name_cont, placeholder: "search", id: "navbar-search-text" %>
                </div>
                <div class="large-4 small-3 columns">
                  <%= f.submit "Search", class: "alert button expand", id: "navbar-search-submit" %>
                </div>
              <% end %>        
            </div>
          </li>
        </ul>
      </section>
    </nav>
  </header>

    <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>

    <main id="main-content" class="row">
      <%= yield %>
    </main>

  </body>
</html>
