<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="container">
  <div class="header">
  <h1 class="text_muted">Best Artist 2015</h1>
  </div>
  <div id="slider">
  <ul class="slider">
  <li class="slider"><img src="../assets/img/examples/satelite-orbit/slider1.jpg"/></li>
  <li class="slider"><img src="../assets/img/examples/andromeda-orbit/slider2.jpg"/></li>
  <li class="slider"><img src="../assets/img/examples/launch-orbit/slider3.jpg"/></li>
  <li class="slider"><img src="../assets/img/examples/satelite-orbit/slider1.jpg"/></li>
  </ul>
  </div>
  </div>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="row">
      <%= yield %>
    </main>

  </body>
</html>
