<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row">
    <div class="header">
      <h1 class="text_muted">Best Artist 2015</h1>
    </div>
    <ul id="menu">
      <li>Reviews</li>
      <li>Artists</li>
      <li>Review a Song</li>
      <li>Sign up</li>
      <li>Log in</li> 
    </ul>
    <ul class="example-orbit" data-orbit>
      <li>
        <%= image_tag("andromeda-orbit.jpg") %>

      </li>

      <li>
          <%= image_tag("andromeda-orbit.jpg") %>
          <p class="orbit-caption">

          </p>
      </li>
      <li class="active">
        <%= image_tag("andromeda-orbit.jpg") %>
        <div class="orbit-caption">
        </div>
      </li>
      <li>
        <%= image_tag("andromeda-orbit.jpg") %>
        <div class="orbit-caption">
        </div>
      </li>
    </ul>
    
  </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="row">
      <%= yield %>
    </main>

  </body>
</html>
