<!DOCTYPE html>
<html>
<head>
  <title>SongsReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<img title="jQuery Flowplayer" alt="jQuery Flowplayer" src="http://jqueryrain.jquerycdn.netdna-cdn.com/wp-content/uploads/2012/01/jquery-flowplayer-08.jpg" width="500" height="200">

</body>
</html>
