<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <!-- form for search -->
  
   <div class="field">
    <%= f.label :artist_name %><br>
    <%= f.text_field :artist_name %>
  </div>

  <div class="field">
    <%= f.label :file %><br>
    <%= f.text_area :file %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.date_select :release_date %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  
  <div class="field">
     <%= f.label :remote_image_url %><br />
    <%= f.text_field :remote_image_url %>
   </div>
   <div class="field">
     <%= f.label :image %><br />
     <%= f.file_field :image %>
   </div>
   <div class="field">
     <%= f.label :file %><br />
     <%= f.file_field :file %>
   </div>
  <div class="actions">
    <%= f.submit , class: "button"%>
  </div>
<% end %>
