<div class="row">
  <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag("andromeda-orbit.jpg") %>
    </li>
    <li>
      <%= image_tag("musicimage.jpg") %>
      <div class="orbit-caption"></div>
    </li>
    <li class="active">
      <%= image_tag("andromeda-orbit.jpg") %>
      <div class="orbit-caption">
      </div>
    </li>
    <li>
      <%= image_tag("andromeda-orbit.jpg") %>
      <div class="orbit-caption">
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <% @songs.each do |song| %>   
    <%= link_to image_tag(song.image, class: "song-image"), song %>
  <% end %>
</div>