<!-- <p id="notice"><%= notice %></p> -->
<p>
  
  <%= link_to image_tag(@song.image.thumb.url), @song.image.url %>
</p>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Title:</strong></td>
        <td><%= @song.title %></td>
      </tr>
      <tr>
        <td><strong>Artist Name:</strong></td>
        <td><%= @song.artist_name %></td>
      </tr>
      <tr>
        <td><strong>Description:</strong></td>
        <td><%= @song.description %></td>
      </tr>
      <tr>
        <td><strong>Release date:</strong></td>
        <td><%= @song.release_date %></td>
      </tr>
      <tr>
        <td><strong>User:</strong></td>
        <td><%= @song.user_id %></td>
      </tr>
      <tr>
        <td><strong>Play Song:</strong>
      </tr>
      <tr>
        <td>
          <audio controls><source src="<%= @song.file.url %>" type="audio/ogg"></audio>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'Edit', edit_song_path(@song) %></td> 
        <td><%= link_to 'Back', songs_path %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td><%= link_to"Write a Review", new_song_review_path(@song) %><td> 
      </tr>
      <% if @song.reviews.blank? %>
        <tr colspan="2">
          <td><h3> No reviews just yet, Be the first to a review </h3></td>
        </tr>
      <% else %>
        <% @song.reviews.each do |review|%>
          <tr>
            <td><strong>Rating:</strong></td>
            <td><%= review.rating %></td>
          </tr>
          <tr>
            <td><strong>Comment:</strong></td>
            <td><%= review.comment %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td><%= link_to 'Edit', edit_song_path(@song) %></td> 
        <td><%= link_to 'Back', songs_path %></td>
      </tr>
    </tbody>
  </table>
</div>